.container{
    margin-top:2rem;
    margin-bottom:3rem;

}

.carousel-inner img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover; 
    
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top:20px;
}

#custCarousel .carousel-indicators > li {
width:100px;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

.carousel-item img{
  height:100%;///////////////////////////
  object-fit: cover;//////////////////////
  width:80%;
}

.carousel-inner {
  height: 0;
  padding-bottom: 45%; /* this is affecting size and aspect ratio */
}

.carousel-item {
  position: absolute !important; /* Bootstrap is insistent */
  top: 0;
  right: 0;
  bottom: 20;
  left: 0;
}


// control arrows
.carousel-control-prev {
    left: 20%;
  }
  
  .carousel-control-next {
    right: 20%;
  }
  
  @media (min-width: 768px)
{
    .container{
        margin-top: .3rem;
        display: block;
        justify-content: flex-start;
        margin-bottom:2rem;
    }
    .carousel-inner img {
        max-width: 60%;
        max-height: 60%;

    }
    
    .carousel-inner {
      height: 0;
      padding-bottom: 35%; /* this is affecting size and aspect ratio */
    }
}