.container-search{
  display: flex;
  justify-content: center;
  margin: 1rem 0;

}

.container-detail-links{
  display: flex;
  justify-content: space-between;
  margin-bottom: .75rem;
  margin-left: 1.5rem;
  margin-right: 1rem;

}


a.text-decoration-none.d-block.mb-2 {
  font-size: 1.5rem; 
  transition: color 0.3s ease; 
}

a.text-decoration-none.d-block.mb-2:hover {
  color: #9a5cff;

  
}


.card-body h4 {
  font-weight: bold;
  margin-top: 2rem;
}


 .card-body p, .card-body li,
.card-text {
   text-align: left;

}

.card{
  width: 80%;
  background-color: rgb(245, 245, 245);
  text-align: left;
  border-left: none;
  border-right:none; 
  border-radius: 0;

}

@media (min-width: 1279px)
{
.container-detail-slider{
  display: flex;
  justify-content: flex-start;
  margin-top: 1px;
  margin-bottom: .75rem;
}

.card {

  border: none; 
  margin-left: -10rem;
}

@media (min-width: 768px)
{
  .card {

    border: none; 
    margin-left: -8rem;
  }
}

}

