.navbar{
  background-color: #001d93;
  .container-fluid{
    color:white;
    .navbar-brand{
      color: white;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
      &:hover{
        color: #a5b6fa;
      }
    }
    .navbar-toggler{
      background-color: white;
      .navbar-toggler-icon{
        color: white;
      }
    }

    .collapse{
      .nav-link{
        color: white;
            font-weight: 500;
            font-size: 1rem;
            text-transform: uppercase;
            &:hover{
              color: #a5b6fa;
            }
      }
    }

  }
}