
.navbar-nav .nav-item .nav-link {
    position: relative;
  }
  

  .navbar-nav .nav-item .nav-link::before,
  .navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(87, 108, 226); 
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.3s;
  }
  

  .navbar-nav .nav-item .nav-link:hover::before,
  .navbar-nav .nav-item .nav-link:hover::after {
    transform: scaleX(1);
  }
  

  .navbar-nav .nav-item .nav-link::before {
    top: 6px;
    left: 0;
  }
  
  .navbar-nav .nav-item .nav-link::after {
    bottom: 5px;
    right: 0;
  }
  